* {
  text-align: center;
}

table {
  margin: 0 auto;
  border: 0;
  border-collapse: collapse;
}

.inventory {
  overflow: scroll;
}

th, td {
  padding: 0.5rem 1rem;
}

span {
  display: inline-block;
  text-align: center;
}

span[class~="one"] :first-child {
  background-image: linear-gradient(rgb(195, 95, 52) 1%, rgb(233, 133, 50) 50%, rgb(195, 95, 52));
}

span[class~="two"] :first-child, span[class~="two"] :nth-child(2) {
  background-image: linear-gradient(rgb(195, 95, 52) 1%, rgb(233, 133, 50) 50%, rgb(195, 95, 52));
}

span[class~="three"] span {
  background-image: linear-gradient(rgb(195, 95, 52) 1%, rgb(233, 133, 50) 50%, rgb(195, 95, 52));
}

span[class^="rate"] > span {
  width: 1rem;
  height: 1rem;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0 0 0 0.25rem;
  background-color: #ddd;
}

tr[class="to-read"] span[class="status"] {
  border: 1px solid black;
  border-radius: 20px;
  background-image: linear-gradient(rgb(212, 0, 0) 1%, rgb(245, 0, 0) 50%, rgb(202, 0, 0));
}

tr[class="in-progress"] span[class="status"] {
  border: 1px solid black;
  border-radius: 20px;
  background-image: linear-gradient(rgb(195, 195, 52) 1%, rgb(233, 233, 50) 50%, rgb(195, 195, 52));
}

tr[class="read"] span[class="status"] {
  border: 1px solid black;
  border-radius: 20px;
  background-image: linear-gradient(rgb(0, 222, 0) 1%, rgb(0, 255, 0) 50%, rgb(0, 212, 0));
}

span[class="status"], span[class^="rate"] {
  height: 1.2rem;
  width: 8rem;
  padding: 0.5rem 0;
}

tr {
  background-image: linear-gradient(rgb(52,165,165) 1%, rgb(50, 233, 233) 50%, rgb(62,165,175));
}

tr[class="read"] {
  background-image: linear-gradient(rgb(0, 192, 0) 1%, rgb(0, 225, 0) 50%, rgb(0, 182, 0));
}

tr[class="in-progress"] {
  background-image: linear-gradient(rgb(175, 175, 52) 1%, rgb(205, 205, 50) 50%, rgb(175, 175, 52));
}

tr[class="to-read"] {
  background-image: linear-gradient(rgb(200, 200, 200) 1%, rgb(210, 210, 210) 50%, rgb(184, 184, 184));
}